*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: var(--cor2);
}

:root{
    --cor1: #496e4e;
    --cor2: #4b8480;
    --corContrast: #A52A2A;

}

.bodyLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.loginSection {
    width: 1000px;
    height: 600px;
    background-image: url(./img/todolist.jpg);
    background-size: 900px;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}


.loginSection form {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0; */
}


label {
    font-weight: bold;
    display: block;
    margin: 20px;
}

input[type="text"], input[type="password"] {
    width: 70%;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
}

input[type="submit"]{
    margin-top: 20px;
}

.top{
    background-color: var(--cor1);
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--cor2);
}

.main{
    padding: 0 50px;
    background-color: var(--cor2);
    width: 100%;
    height: 665px;
    display: flex;
    justify-content: center;
   
}

.input{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    margin: 10px 0px;
    color: var(--cor1);
}

.tarefa{
    width: 300px;
    height: 40px;
    border: 2px solid var(--cor1);
    border-radius: 5px;
    text-align: center;
}

button{
    width: 100px;
    border: 0;
    margin: 10px 0px;
    padding: 10px;
    outline: 0;;
    background-color: var(--cor1);
    color: var(--corContrast);
    border-radius: 3px;
    font-weight: bold;
    transition: all easee 0.3s;
}

button:hover{
    background-color:var(--corContrast);
    color: var(--cor2);
}


.table{
    background-image: url("img/pagina.jpeg");
    width: 600px;
}
.content{
    text-align: center;
    margin: 15px 5px;
}

table{
    margin: 50px 0;
    border-collapse: collapse;
    border: 2px solid var(--cor1);
    width: 100%;
}

table th{
    color: var(--cor2);
    background-color: var(--cor1);
}

table th, td{
    padding: 1px 5px;
    text-align: center;
}

.content{
    margin: 15px;
}

.center{
    text-align: center;
    justify-content: center;
}